<template>
<div>
Showing game {{ id }}
{{ game.name }}
</div>
</template>

<script>
import axios from 'axios';
export default {
name: 'Game',
          props: {
id: String
          },
mounted: function(){
             axios.get("http://localhost/api/games?id__eq=2439").then(response => {
                     this.game = response.data.data[0]
                     });
         },
data : function(){
           return {
game: {
      }
           }  
       }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
